<div class="template">

  <h2>{{ct2.templateTitle}}</h2>

  <p>Message: {{ct2.message}}</p>
  <div ng-include="'/home/infong.html'"></div>
  <h3>An Exmaple of the Use of Services</h3>

  <p>An example of ng-repeat, ordered by name</p>
  <ul>
    <li ng-repeat = "county in ct2.winners | orderBy: 'name' "> 
      {{county.name}} have won {{county.winners}} All-Ireland's
    </li>
  </ul>

  <p>An example of ng-repeat, ordered by number of wins</p>
  <ul>
    <li ng-repeat = "county in ct2.winners | orderBy: -'winners' "> 
      {{county.name}} have won {{county.winners}} All-Ireland's
    </li>
  </ul>
  <ul>
    <li>find my data in /app/assets/javascripts/angular/ng_services.js</li>
  </ul>
</div> 
