$app-blue: #0078A0;   // rgb(0,120,160)
$app-orange:#FFA500;  // rgb(255,165,0)
$app-background:#eee; // rgb(238,238,238)
$nav-bar-gray: #999999;    // rgb(153,153,153)
$input-box-gray:#CCCCCC;  // rgb(204,204,204)
$font-size: 16px;
$font-family-helvetica: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
